.loginHead{
  background-color: #000000;       
}

.loginHead strong {
  color: white;
  font-size: 2rem;
}

#loginButton {
  background-color: #223d4f;
}

#email {
  width: 100%;
  
}

#password {
  width: 100%;
}
#loginButton {
  width: auto;
}
#singupLink {
  width: auto;
}
.loginPage{
  background-color: #d3d3d3;
}