.body {
  background-color: white;
}

.container-fluid {
  background-color: #1D1470;
}

.navbar-brand,
#userHomeButton,
#addOpenings,
#userAppliedJobs,
#logout,
#home {
  color: white;
}

.templateContainer {
  margin: 5% 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.template {
  display: flex;
  height: 180px;
  justify-content: space-between;
  background-color: lightgrey;
  padding: 60px;
  border-radius: 20px;
  width: 980px;
  border: 3px solid black;
  margin: 10px;
  position: relative;
  padding-top: 20px;
}

.leftContainer {
  flex: 1;
}

.rightContainer {
  flex: 1;
  text-align: right;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1;
}

.deleteButton,
.editButton {
  padding: 10px;
  font-size: 15px;
  color: black;
  border: black;
  cursor: pointer;
  margin-top: 15px;
}

.available-button {
  background-color: green;
  color: white;
}

.unavailable-button {
  background-color: red;
  color: white;
}

p {
  margin: 0;
}

.searchInput_Container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  width: 1000px;
}

#searchInput {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
}

.search-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #218838;
}

.search-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.4);
}
